# EditorConfig settings: (http://editorconfig.org/)

root = true

[*]

# Use space for indentation
indent_style = space
# Default indentation size
indent_size = 4
# Use Unix line ending (LF)
end_of_line = lf
# Files are UTF-8 encoded
charset = utf-8
# No white space at the end-of-line
trim_trailing_whitespace = true
# A file must end with an empty line - this is good for version control system
insert_final_newline = true

# Markdown recognizes whitespaces at the end of line as line break.
[*.md]
trim_trailing_whitespace = false

# The JSON files contain newlines inconsistently
[*.{json,jsonc}]
insert_final_newline = false

[*.{yaml,yml}]
indent_size = 2

[*.toml]
indent_size = 2

[*.vim]
indent_size = 2

[*.py]
max_line_length = 79

[*.lua]
indent_size = 2

# Javascript/Typescript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# Nix
[*.nix]
indent_size = 2

# Makefile use tabs for indentation
[{Makefile,makefile,**.mk}]
indent_style = tab

