*.swp
*~
*.elc
*_flymake*
*.pyc
*.zcompdump
*.zsh_history
*.zsh/.zsh_local
*.zsh/*.zwc
*.zsh/*.zwc.old
.config/fish/fishd.*
.config/fish/fundle
.config/fish/completions/*
.config/fish/conf.d/*
.config/fish/functions/*
!.config/fish/functions/fish_user_keybinds.fish
!.config/fish/functions/fisher.fish
