[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "terminals/tmux/plugins/tpm"]
	path = terminals/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
