[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
