*.swp
*~
*.elc
*_flymake*
*.pyc
config/zsh/.zcompdump
config/zsh/.zsh_history
config/zsh/.zsh_local
config/zsh/*.zwc
config/zsh/*.zwc.old
config/zsh/.zplugin
config/fish/fishd.*
config/fish/fundle
config/fish/completions/*
config/fish/conf.d/*
config/fish/functions/*
!config/fish/functions/fish_user_keybinds.fish
!config/fish/functions/fisher.fish
