{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -euxo pipefail

# Install packages using Homebrew
brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
tap "homebrew/cask-fonts"
# CLI apps & libraries
brew "openssl@1.1"
brew "coreutils"
brew "readline"
brew "xz"
brew "glib"
brew "boost"
brew "bzip2"
brew "llvm"
brew "chezmoi"
brew "cmake"
brew "doxygen"
brew "editorconfig"
brew "efm-langserver"
brew "eigen"
brew "harfbuzz"
brew "zeromq"
brew "ffmpeg"
brew "gcc"
brew "fftw"
brew "fontforge"
brew "fzf"
brew "gd"
brew "gh"
brew "ghq"
brew "git"
brew "git-delta"
brew "glow"
brew "gnupg"
brew "gnuplot"
brew "go"
brew "gopls"
brew "jq"
brew "lazygit"
brew "lf"
brew "luajit"
brew "luv"
brew "neovim", args: ["HEAD"]
brew "ninja"
brew "nkf"
brew "openblas"
brew "pandoc"
brew "shellcheck"
brew "shfmt"
brew "subversion"
brew "swig"
brew "the_silver_searcher"
brew "tmux"
brew "vim"
brew "zlib"
brew "zsh"
brew "universal-ctags"
# Cask apps
cask "alacritty"
cask "aquaskk"
cask "clipy"
cask "handbrake"
cask "kap"
cask "mactex"
cask "slack"
cask "vesta"
cask "xquartz"
cask "zoom"
# Cask fonts
cask "font-hack-nerd-font"
cask "font-hackgen-nerd"
cask "font-latin-modern"
cask "font-latin-modern-math"
cask "font-meslo-nerd-font"
cask "font-meslo-nerd-font-mono"
cask "font-monofur-nerd-font"
cask "font-monoid-nerd-font"
cask "font-mononoki-nerd-font"
cask "font-xits"
EOF

{{- end -}}

