[user]
	name = "{{ .name }}"
	email = "{{ .email }}"
[ghq]
	root = ~/src
[core]
	pager = delta
[delta]
	line-numbers = true
	side-by-side = true
	syntax-theme = TwoDark
	file-modified-label = modified
[interactive]
	diffFilter = delta
[pull]
	rebase = false
[init]
	defaultBranch = main
